/* Tailwind core */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Demos */
@import "./demos/demo1";

/* Shadcn UI */
@import "./shadcn.ui";


.form-array .table .form-label {
    display: none;
}
.form-array .table .checkbox span {
    display: none;
}
.form-array .table .mb-4,.mb-2 {
    margin-bottom: 0px !important;
}
.flatpickr-calendar {
    z-index: 9999 !important; /* Or higher than your modal's z-index */
  }
.prose table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #e5e7eb; /* Tailwind gray-200 */
}
.prose table th,
.prose table td {
    border: 1px solid #e5e7eb;
    padding: 4px;
}
.prose table th {
    text-align: left;
}
.prose table th,td {
    font-size: 0.8125rem;
}
